@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  background-image: radial-gradient(
    circle 975px at 2.6% 48.3%,
    rgba(0, 8, 120, 1) 0%,
    rgba(95, 184, 224, 1) 99.7%
  );
  position: relative;
  background: #011f3c;
}

.card {
  width: 100%;
  max-width: 450px;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 30px auto;
}

h1 {
  color: white;
  margin: 20px 0;
  font-size: 25px;
}

h1 span {
  color: #018351;
  border-bottom: 2px solid #018351;
  padding-bottom: 6px;
}

.random-password {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  border-radius: 5px;
}

input,
button {
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
}

.fa-copy {
  display: block;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.fa-copy:hover {
  color: orange;
}

button {
  border-radius: 5px;
  background-color: #018351;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: grey;
}
